*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container{
    background-color: #fcf5eb;
    width: 100vw;
    min-height: 100vh;
}
.navbar{
    display: flex;
}

.navbar img:nth-child(1){
    width:120px;
    height: 30px;
}

.nav-items{
    display: flex;
}